.navbar{
  background-color: #078289;
  margin: 0;
  height: 3.125rem;
  display: flex;
  align-items: center;
}

.container-icon{
  display: flex;
  justify-content: center;
}
p{
  padding-left: 3.5rem;
  margin: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.icon{
  color: white;
}


