<div class="container-base">

  <div class="title col-12 md:col-12 lg:col-12">
    Actualización de empleado
  </div>

  <div class="container-form">
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="grid container-principal-data">
      <div class="col-12 md:col-3 lg:col-3">
        <div class="grid">
          <div class="col-3">
            <label>Cédula:</label>
          </div>
          <div class="col-9">
            <output formControlName="document" ngDefaultControl></output>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-5 lg:col-5">
        <div class="grid">
          <div class="col-3">
            <label>Empleado:</label>
          </div>
          <div class="col-9">
            <output formControlName="names" ngDefaultControl></output> {{" "}}<output formControlName="lastnames" ngDefaultControl></output>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-4 lg:col-4">
        <div class="grid">
          <div class="col-3">
            <label>Correo:</label>
          </div>
          <div class="col-9">
            <output formControlName="email" ngDefaultControl></output>
          </div>
        </div>
      </div>
    </div>


      <div class="grid container-additional-data">
        <div class="col-12 md:col-6 lg:col-6">
          <div class="grid">
            <div  class="col-12 label">
              <label for="birthDate">Fecha de nacimiento:</label>
            </div>
            <div class="col-12">
              <p-calendar id="birthDate" [style]="{'minWidth':'100%'}"
                          placeholder="Ingrese su fecha de nacimiento" formControlName="birthDate"></p-calendar>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
          <div class="grid">
            <div class="col-12 label">
              <label for="address">Dirección de domicilio:</label>
            </div>
            <div class="col-12">
              <input id="address" type="text" pInputText placeholder="Ingrese su dirección de domicilio" formControlName="address">
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
          <div class="grid">
            <div class="col-12 label">
              <label for="numberPhone">Teléfono móvil:</label>
            </div>
            <div class="col-12">
              <input id="numberPhone" type="text" pInputText placeholder="Ingrese su número de teléfono móvil" formControlName="numberPhone">
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
          <div class="grid">
            <div class="col-12 label">
              <label for="vaccination">Estado de vacunación:</label>
            </div>
            <div class="col-12">
              <p-dropdown [style]="{'minWidth':'100%'}" id="vaccination" [options]="status" [(ngModel)]="selectedStatus"  dataKey="value"
                          optionLabel="name" optionValue="name" placeholder="Seleccione un estado..." [showClear]="true" formControlName="vaccination" ></p-dropdown>
            </div>
          </div>
        </div>

        <div class="col-12 md:col-12 lg:col-12">
          <app-vaccinations-registry [hidden]="validForm"></app-vaccinations-registry>
        </div>

        <div class="col-6 md:col-2 lg:col-2">
          <button class="btn btn-secondary" (click)="cleanEmployee()">Regresar</button>
        </div>
        <div class="col-6 md:col-2 lg:col-2">
          <button type="submit" class="btn btn-warning">Guardar</button>
        </div>
      </div>
    </form>
  </div>

</div>

