<div class="container-base">
  <div class="title col-12 md:col-12 lg:col-12">
    Registro de empleados
  </div>

  <div class="grid container-form">
    <div class="col-12 md:col-6 lg:col-6">
      <div class="grid">
        <div class="col-12 label">
          <label for="cedula">Cédula:</label>
        </div>
        <div class="col-12">
          <input id="cedula" type="text" pInputText placeholder="Ingrese su cédula" ngModel required>
        </div>
      </div>

    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <div class="grid">
        <div class="col-12 label">
          <label for="nombre">Nombres:</label>
        </div>
        <div class="col-12">
          <input id="nombre" type="text" pInputText placeholder="Ingrese sus nombres">
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <div class="grid">
        <div class="col-12 label">
          <label for="apellidos">Apellidos:</label>
        </div>
        <div class="col-12">
          <input id="apellidos" type="text" pInputText placeholder="Ingrese sus apellidos">
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <div class="grid">
        <div class="col-12 label">
          <label for="correo">Correo electrónico:</label>
        </div>
        <div class="col-12">
          <input id="correo" type="text" pInputText placeholder="Ingrese su correo electrónico">
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <p-button label="Registrar"></p-button>
    </div>
  </div>
</div>
